.is-rounded {
    border-radius: 50%;
}

  .card-border {
    border: 1px solid #e8e8e8;
    border-radius: 5%;
}

.is-hoverable {
    transition: transform 0.2s;
}

.is-hoverable:hover {
    transform: scale(1.02);
}
