<section class="section">
    <div class="container">

        <div class="columns is-centered">
            <!-- Profile Card -->
            <div class="column is-half">
                <div class="card profile-card">
                    <div class="card-image">
                        <figure class="image is-256x256 is-inline-block">
                            <img src="https://via.placeholder.com/256" alt="User Photo">
                        </figure>
                    </div>
                    <div class="card-content has-text-centered">
                        <p class="title is-4">Valgrind el Montagnard</p>
                        <p class="subtitle is-6"><i class="fas fa-map-marker-alt"></i> Chez ta mère</p>
                        <p class="subtitle is-6"><i class="fas fa-phone"></i> (+33) 06 06 06 06 06</p>
                    </div>
                </div>
            </div>

            <!-- Payment Card -->
            <div class="column is-two-thirds">
                <div class="card payment-card">
                    <div class="card-content">
                        <p class="title is-4">Payment history</p>
                        <p class="content">1K$</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="columns is-centered">
            <!-- Description Card -->
            <div class="column is-half">
                <div class="card description-card">
                    <div class="card-content">
                        <p class="title is-4">About Valgrind el Montagnard</p>
                        <p class="content">Valgrind el Montagnard want to find love.</p>
                    </div>
                </div>
            </div>

            <!-- Appointment Card -->
            <div class="column is-two-thirds">
                <div class="card appointment-card">
                    <div class="card-content">
                        <p class="title is-4">Appointment</p>
                        <p class="content">3 juillet</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
