<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="container text-center p-4 rounded bg-light">
        <h1 class="display-4 mb-4">{{ "welcomeMsg" | transloco }}</h1>

        <div *ngIf="wrongPassword">
            <p class="subtitle is-4 has-text-danger mb-3">{{ "loginErr" | transloco }}</p>
        </div>

        <form>
            <input class="mt-2 form-control" type="text" [(ngModel)]="this.Email" id="email" name="email" [placeholder]="this._tloco.translate('emailPlaceholder')" required>

            <input class="mt-2 form-control" type="password" [(ngModel)]="this.Password" id="password" name="password" [placeholder]="this._tloco.translate('passwordPlaceholder')" required>

            <button (click)="this.loginClick()" class="btn btn-primary mt-3">{{ "loginBtn" | transloco }}</button>
        </form>
    </div>
</div>
