<div class="d-flex justify-content-between align-items-center m-4">
    <div>
        <h2 class="fw-bold">{{ "navStatistics" | transloco }}</h2>
    </div>
</div>

<div *ngIf="this._auth.isManager()" class="row text-center m-4">
    <div class="col-12 col-lg-7">
        <div #containerRef class="card d-flex justify-content-center">
            <ngx-charts-number-card
                *ngIf="this.nbEmployees[0] !== undefined &&
                this.paymentAccount[0] !== undefined &&
                this.nbCoaches[0] !== undefined &&
                this.nbEvents[0] !== undefined &&
                this.nbTips[0] !== undefined &&
                this.nbCustomers[0] !== undefined"
                [view]="[containerRef.offsetWidth, 300]"
                [cardColor]="cardColor"
                [scheme]="colorScheme"
                [results]="[
                    { name: this._tloco.translate('totalsalesStatTxt'), value: this.paymentAccount[0]},
                    { name: this._tloco.translate('customersStatTxt'), value: this.nbCustomers[0].length},
                    { name: this._tloco.translate('employeesStatTxt'), value: this.nbEmployees[0].length},
                    { name: this._tloco.translate('coachesStatTxt'), value: this.nbCoaches[0].length},
                    { name: this._tloco.translate('eventsStatTxt'), value: this.nbEvents[0].length},
                    { name: this._tloco.translate('tipsStatTxt'), value: this.nbTips[0].length},
                ]">
            </ngx-charts-number-card>
        </div>
    </div>
    <div class="col-12 col-lg-5 mt-lg-0 mt-3">
        <div #containerRef2 class="card justify-content-center">
            <ngx-charts-bar-horizontal
                *ngIf="this.nbCustomers[0] !== undefined &&
                this.nbEncounters[0] !== undefined"
                [view]="[containerRef2.offsetWidth, 300]"
                [scheme]="colorScheme"
                [xAxis]="true"
                [yAxis]="true"
                [results]="[
                    { name: this._tloco.translate('customersTxt'), value: this.nbCustomers[0].length},
                    { name: this._tloco.translate('encountersTxt'), value: this.nbEncounters[0].length},
                ]">
            </ngx-charts-bar-horizontal>
        </div>
    </div>
</div>

<div *ngIf="this._auth.isManager()" class="me-md-2 mb-2 mb-md-0 m-5 p-2">
    <button class="btn btn-outline-secondary dropdown-toggle w-auto text-capitalize" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ "coachesTxt" | transloco }}
    </button>
    <ul class="dropdown-menu">
        <li *ngFor="let coaches of coaches"><a class="dropdown-item" (click)="chooseCoach(coaches)">{{ coaches.name }} {{ coaches.surname }}</a></li>
    </ul>
</div>

<div #containerRef3 *ngIf="this.coache != undefined && customerResults[this.coache.id] != undefined" class="card m-5">
    <div class="p-3 text-centered is-hoverable">
        <div class="mt-4 mb-2 has-text-black">
            <h4 class="title">{{coache.name}} {{coache.surname}} </h4>
        </div>
    </div>
    <ngx-charts-bar-horizontal *ngIf="customerResults[coache.id] != undefined && encounterResults[coache.id] !== undefined"
        [view]="[containerRef3.offsetWidth, 100]"
        [scheme]="'flame'"
        [xAxis]="true"
        [yAxis]="true"
        [results]="[
            { name: this._tloco.translate('customersTxt'), value: customerResults[coache.id] || 0 },
            { name: this._tloco.translate('meetingsTxt'), value: encounterResults[coache.id] || 0 }
        ]">
    </ngx-charts-bar-horizontal>
    <ngx-charts-advanced-pie-chart *ngIf="genderResults[coache.id] !== undefined"
        [view]="[containerRef3.offsetWidth, 200]"
        [scheme]="'forest'"
        [label]="this._tloco.translate('totalLabelGraph')"
        [results]="[
            { name: this._tloco.translate('maleTxt'), value: genderResults[coache.id][0] || 0 },
            { name: this._tloco.translate('femaleTxt'), value: genderResults[coache.id][1] || 0 },
            { name: this._tloco.translate('otherTxt'), value: genderResults[coache.id][2] || 0 }
        ]">
    </ngx-charts-advanced-pie-chart>
</div>
