<section class="mr-8">
    <div class="container mt-5">
        <h1 class="title has-text-centered"> Statistics </h1>
    </div>

    <section class="mt-3">
        <div class="grid is-row-max-6">
            <div *ngFor="let employee of employees" class="card cell">
                <section class="is-outlined card-border p-3 has-text-centered is-hoverable">
                    <div>
                        <figure>
                            <!-- <img [src]="this.employee ?? 'assets/placeholder-128.png'  | secure | async" alt="User Photo" class="is-rounded"> -->
                        </figure>
                    </div>
                    <div class="container mt-4 mb-2 has-text-black">
                        <p> <strong>Prénom / Nom </strong> : {{employee?.name}} {{employee?.surname}} </p>
                    </div>
                </section>
                <ngx-charts-bar-vertical [view]="[100,100]" [results]="[{ name: 'nb customers', value: this.customerResults[employee.id] }, { name: 'nb meetings', value: 20 }]">
                </ngx-charts-bar-vertical>
            </div>
        </div>
    </section>
</section>
