<h2 class="title has-text-centered"> Events </h2>
<hr>

<div class="container ml-0 columns mt-4">
    <div class="column">
        <div id="map" style="height: 90vh; width: 100%;"></div>
    </div>
    <div class="column fixed-grid">
        <div class="grid">
            <div *ngFor="let event of events">
                <div class="card">
                    <div class="card-content">
                        <p class="title">{{ event.name }}</p>
                        <p>{{ event.location_name }}</p>
                        <p>Max Participant : {{ event.max_participants }}</p>
                        <p>Date : {{ event.date }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
