::ng-deep .fc .fc-daygrid-day-number,
::ng-deep .fc .fc-event-title,
::ng-deep .fc .fc-daygrid-day-top {
    color: white !important;
}

::ng-deep .fc-col-header-cell-cushion {
  color: black !important;
}

::ng-deep .fc .fc-event-title {
  background-color: green !important;
  border-radius: 5px;
}

