<div class="col-12">
  <p class="display-1">{{ "navEvents" | transloco }}</p>
</div>

<div class="row">
  <div class="col-10"></div>
  <button class="btn btn-primary col-1 mb-4" style="border-radius: none">+ Add event</button>
  <div class="col-1"></div>
</div>

<!-- <div class="card"  style="background-color: white;">
  <div class="card-body"> -->
    <full-calendar #fullCalendar [options]="calendarOptions" [deepChangeDetection]="true">
    </full-calendar>
  <!-- </div>
</div> -->

<div class="container row">
  <div class="col">
      <div id="map" style="height: 90vh; width: 100vw;" class="mt-4"></div>
  </div>
</div>
