<div class="d-flex justify-content-between align-items-center m-4">
    <div>
        <h2>Coaches List</h2>
        <h6>You have total {{ this.employees.length }} coaches.</h6>
    </div>

    <div>
        <button class="btn btn-outline-secondary me-2">
            <i class="bi bi-cloud-download"></i> Export
        </button>
        <button class="btn btn-outline-secondary" routerLink="/register-employee">
            <i class="bi bi-plus-lg"></i>
        </button>
    </div>
</div>

<div class="card m-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center m-3">
            <div class="dropdown me-2">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Bulk Action
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item">Bulk Action</a></li>
                    <li><a class="dropdown-item">Simple action</a></li>
                </ul>
            </div>
            <button class="btn btn-outline-secondary">Apply</button>
        </div>

        <div class="d-flex align-items-center">
            <input type="text" class="form-control me-2" placeholder="Search">
            <i class="bi bi-search mx-2 text-secondary"></i>
            <span class="vertical-bar"></span>
            <i class="bi bi-filter mx-2 text-secondary"></i>
            <i class="bi bi-gear mx-2 text-secondary"></i>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col" class="text-secondary">Coach</th>
            <th scope="col" class="text-secondary">Email</th>
            <th scope="col" class="text-secondary">Birth Date</th>
            <th scope="col" class="text-secondary">Customers</th>
            <th scope="col" class="text-secondary text-center align-middle">Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let coach of this.employees; let i = index">
                <td>
                    <i class="bi bi-person-circle fs-4 m-4"></i>
                    {{ coach.name }} {{ coach.surname }}
                </td>
                <td>{{ coach.email }}</td>
                <td>{{ coach.birth_date }}</td>
                <td>1</td>
                <td class="text-center align-middle">
                    <i class="bi bi-three-dots"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- <div class="columns">
    <div class="column m-3 is-4">
        <button class="button is-success" (click)="goToSignIn()">{{ "createEmployee" | transloco}}</button>
    </div>
    <div class="column m-3 is-4">
        <button class="button is-danger" (click)="goToDelete()">Delete Employee</button>
    </div>
    <div class="column m-3">
        <button class="button is-warning" (click)="saveChanges()" [class.is-static]="!this.changesOccured" [class.is-loading]="this.isLoading">{{ "save" | transloco }}</button>
    </div>
</div>

<table class="card table is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th>#</th>
            <th>{{ "name" | transloco }}</th>
            <th>{{ "birthdateTh" | transloco }}</th>
            <th>{{ "customersTh" | transloco }}</th>
            <th>{{ "lconnectionTh" | transloco }}</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let coach of this.employees; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ coach.name }}</td>
            <td>{{ coach.birth_date }}</td>
            <td><div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                    <button class="button is-warning is-small">
                        <span>{{ "editList" | transloco }}</span>
                    </button>
                </div>
                <div class="dropdown-menu" role="menu">
                    <div class="dropdown-content p-3" *ngFor="let customer of this.customers">
                        <label class="checkbox">
                            <input type="checkbox" [checked]="customer.coach_id == coach.id" (click)="onCheckboxChange($event, customer, coach.id)"/>
                            {{ customer.name }} {{ customer.surname }}
                        </label>
                    </div>
                </div>
            </div></td>
            <td>{{ coach.last_login.split('T')[0] }}</td>
        </tr>
    </tbody>

</table> -->
