<div class="column is-11">
    <p class="title is-1">{{ "navWardrobe" | transloco }}</p>
    <hr>
</div>

<section class="section" *ngIf="this.customers.length != 0; else noClients">
  <div class="container has-text-centered">
    <div class="dropdown is-hoverable">
      <div class="dropdown-trigger">
        <button class="button is-warning margin-bottom-10">
            <span>{{ customer?.name }} {{ customer?.surname ?? 'Select a Customer' }}</span>
        </button>
    </div>
      <div class="dropdown-menu has-text-left" id="dropdown-menu3" role="menu">
        <div class="dropdown-content is-flex is-flex-direction-column is-align-items-center">
          <div class="dropdown-item">
            <label *ngFor="let customer_ of this.customers">
              <button class="button" (click)="updateCustomer(customer_)">
                {{ customer_.name }} {{ customer_.surname }}
              </button>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="container has-text-centered mb-2">
      <button class="button is-primary is-centered is-vcentered" (click)="randomOutfit()">
        <span>Random Outfit</span>
      </button>
    </div>
    <div class="is-flex mt-6 is-justify-content-center">
      <div class="p-3">
        <div class="is-vcentered is-centered is-mobile">
          <div class="is-narrow">
            <figure class="image is-185x185 is-centered">
              <img [src]="hat_cap_url.url ?? 'assets/placeholder-128.png' | secure | async" alt="Hat/Caps clothe image"
                (error)="onImageError($event)">
            </figure>
          </div>
          <div class="is-flex is-justify-content-center">
            <div class="is-narrow p-3">
              <button class="button is-light " (click)="swipeItem(false, hats_caps, index_hats_caps, hat_cap_url)">
                <span class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path
                      d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
                  </svg>
                </span>
              </button>
            </div>
            <div class="is-narrow p-3">
              <button class="button is-light" (click)="swipeItem(true, hats_caps, index_hats_caps, hat_cap_url)">
                <span class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path
                      d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" />
                  </svg>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="is-vcentered is-centered is-mobile">
          <div class="is-narrow">
            <figure class="image is-185x185">
              <img [src]="top_url.url ?? 'assets/placeholder-128.png' | secure | async" alt="Top clothe image"
                (error)="onImageError($event)">
            </figure>
          </div>
          <div class="is-flex is-justify-content-center">
            <div class="is-narrow p-3">
              <button class="button is-light" (click)="swipeItem(false, tops, index_tops, top_url)">
                <span class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path
                      d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
                  </svg>
                </span>
              </button>
            </div>
            <div class="is-narrow p-3">
              <button class="button is-light" (click)="swipeItem(true, tops, index_tops, top_url)">
                <span class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path
                      d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" />
                  </svg>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="is-vcentered is-centered is-mobile">
          <div class="is-narrow">
            <figure class="image is-185x185">
              <img [src]="bottom_url.url ?? 'assets/placeholder-128.png' | secure | async" alt="Bottom clothe image"
                (error)="onImageError($event)">
            </figure>
          </div>
          <div class="is-flex is-justify-content-center">
            <div class="is-narrow p-3">
              <button class="button is-light" (click)="swipeItem(false, bottoms, index_bottoms, bottom_url)">
                <span class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path
                      d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
                  </svg>
                </span>
              </button>
            </div>
            <div class="is-narrow p-3">
              <button class="button is-light" (click)="swipeItem(true, bottoms, index_bottoms, bottom_url)">
                <span class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path
                      d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" />
                  </svg>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="p-3">
        <div class="is-vcentered is-centered is-mobile">
          <div class="is-narrow">
            <figure class="image is-185x185">
              <img [src]="shoes_url.url ?? 'assets/placeholder-128.png'  | secure | async" alt="Shoes clothe image"
                (error)="onImageError($event)">
            </figure>
          </div>
          <div class="is-flex is-justify-content-center">
            <div class="is-narrow p-3">
              <button class="button is-light" (click)="swipeItem(false, shoes_list, index_shoes, shoes_url)">
                <span class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path
                      d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
                  </svg>
                </span>
              </button>
            </div>
            <div class="is-narrow p-3">
              <button class="button is-light" (click)="swipeItem(true, shoes_list, index_shoes, shoes_url)">
                <span class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path
                      d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" />
                  </svg>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template class="container" #noClients>
  <h1>{{ "loadCustomers" | transloco }}</h1>
</ng-template>
