img {
  width: 30vw;
  height: auto;
  max-width: 300px;
}

@media (min-width: 1450px) {
  .clothe-container {
    padding: 1rem !important;
  }
}

.drop-customers {
  height: 25vh;
  overflow-y: scroll;
}
