<div class="column is-11">
    <p class="title is-1">{{ "navTips" | transloco }}</p>
    <hr>
</div>

<section class="container" *ngIf="tips.length != 0; else noTips">
    <div class="columns is-multiline is-centered mt-5 mb-6">
    <div *ngFor="let tip of tips" class="column is-one-fifth-desktop is-full-mobile">
      <div class="card tips-card is-flex is-justify-content-center is-align-items-center">
        <p class="has-text-centered is-size-5">
          <strong>{{tip.title}} : </strong>{{tip.tip}}
        </p>
      </div>
    </div>
  </div>
</section>

<ng-template class="container" #noTips>
  <h1>{{ "loadTips" | transloco }}</h1>
</ng-template>
