<section class="container" *ngIf="this.tips.length != 0; else noTips">
    <div class="container">
        <h1 class="big-title has-text-centered mt-4">Tips</h1>
    </div>
    <div class="container fixed-grid has-5-cols mt-5 mb-6">
        <div class="grid">
            <div *ngFor="let tip of tips" class="card tips-card cell is-flex is-justify-content-center is-align-items-center">
                <p class="has-text-centered is-size-5"><strong>{{ tip.title }} : </strong>{{ tip.tip }}</p>
            </div>
        </div>
    </div>
</section>

<ng-template #noTips>
  Loading tips...
</ng-template>
