<div class="row">
  <div class="col-12">
    <h1 class="display-4" style="margin: 10px;">{{ "navTipsHeader" | transloco }}</h1>
  </div>
</div>

<section *ngIf="tips.length != 0; else noTips" style="width: 90vw; margin: 0 auto; display: block;">
  <ngb-accordion>
    <ngb-panel *ngFor="let tip of tips; let i = index">
      <ng-template ngbPanelTitle>
        <strong>{{ tip.title }}</strong>
      </ng-template>
      <ng-template ngbPanelContent>
        {{ tip.tip }}
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</section>

<ng-template #noTips>
    <h1>{{ "loadTips" | transloco }}</h1>
</ng-template>
