<div class="container delete-page ml-5">
    <div>
        <div>
          <h1 class="title is-1">Delete Employee</h1>
          <hr>
        </div>
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
              <span>Select an employee</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <div *ngFor="let employee of employees">
                <label class="pl-2 radio">
                  <input type="radio" name="employee" (click)="employeeSelected(employee)" />
                  <span> {{ employee.name }} <span class="is-uppercase">{{ employee.surname }}</span></span>
                </label>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div>
        <div class="columns">
            <div class="mt-6 ml-2 column">
                <p class="title is-4"> {{employeeToDelete?.name}} <span class="is-uppercase">{{employeeToDelete?.surname}}</span> </p>
                <p class="subtitle is-5 is-italic mt-2"> {{employeeToDelete?.email}} </p>
                <p class="subtitle is-5 mt-1"> {{employeeToDelete?.birth_date}} </p>
                <p class="subtitle is-5 mt-1 has-text-weight-bold"> {{employeeToDelete?.work}} </p>
                <button *ngIf="employeeToDelete != undefined" class="button is-danger mt-2" (click)="deleteEmployee()">Delete the employee</button>
            </div>
            <div class="column">
                <div class="card-image">
                    <figure class="image is-200x200 is-inline-block">
                        <img [src]="employeeImageUrl ?? 'assets/placeholder-128.png' | secure | async" alt="User Photo" (error)="onImageError($event)">
                    </figure>
                </div>
            </div>
        </div>
        <hr class="mt-0">
    </div>
</div>

<div class="confirmation-dialog" *ngIf="confirmDeleting">
    <h3>Êtes-vous sûr ?</h3>
    <p>Cette action est irréversible. Voulez-vous vraiment continuer ?</p>
    <button (click)="confirmDeleteEmployee()">Confirmer</button>
    <button (click)="cancelDeleteEmployee()">Annuler</button>
</div>
