
Copy code
html, body {
    height: 100%;
    margin: 0;
}


img {
  width: 27vh;
  height: 27vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.columns {
    width: 100%;
}

.column {
    display: flex;
    justify-content: center;
}

.card-image {
    padding: 20px;

    .image {
      border-radius: 50%;
      overflow: hidden;
    }
  }

.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.button-compute {
    max-height: 10%;
}
