<div class="column is-11">
    <p class="title is-1">{{ "navAstro" | transloco }}</p>
    <hr>
</div>

<div class="container" *ngIf="this.customers.length != 0; else noClients">
  <div class="has-text-centered">
    <p class="content title is-1">{{ this.compatibilityPercentage }}%</p>
    <div class="column column-center">
      <button class="button is-danger button-compute" (click)="computeCompatibility()">{{ "computeBtn" | transloco }}</button>
    </div>
  </div>

  <div class="columns is-centered m-6">
    <div class="column column-center">
      <div class="card m-4">
        <div class="card-content has-text-centered">
          <p class="title is-4">{{ this.customerLeft?.name || "Customer 1"}} {{ this.customerLeft?.surname }}</p>
          <p class="title is-5 m-4">{{ this.customerLeft?.astrological_sign || "Sign"}}</p>
          <div class="card-image">
            <figure class="image is-256x256 is-inline-block">
              <img [src]="customerLeftImageUrl ?? 'assets/placeholder-128.png'  | secure | async" alt="User Photo"
                (error)="onImageError($event)">
            </figure>
          </div>
          <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
              <button class="button is-warning">
                <span>{{ "findBtn" | transloco }}</span>
              </button>
            </div>
            <div class="dropdown-menu" role="menu">
              <div class="dropdown-content p-3" *ngFor="let customer of customers">
                <label class="radio">
                  <input type="radio" name="customer1" (click)="onRadioChange(customer, true)" />
                  {{ customer.name }} {{ customer.surname }}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column column-center">
      <div class="card m-4">
        <div class="card-content has-text-centered">
          <p class="title is-4">{{ this.customerRight?.name || "Customer 2"}} {{ this.customerRight?.surname }}</p>
            <p class="title is-5 m-4">{{ this.customerRight?.astrological_sign || "Sign"}}</p>
          <div class="card-image">
            <figure class="image is-256x256 is-inline-block">
              <img [src]="customerRightImageUrl ?? 'assets/placeholder-128.png'  | secure | async" alt="User Photo"
                (error)="onImageError($event)">
            </figure>
          </div>
          <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
              <button class="button is-warning">
                <span>{{ "findBtn" | transloco }}</span>
              </button>
            </div>
            <div class="dropdown-menu" role="menu">
              <div class="dropdown-content p-3" *ngFor="let customer of customers">
                <label class="radio">
                  <input type="radio" name="customer2" (click)="onRadioChange(customer, false)" />
                  {{ customer.name }} {{ customer.surname }}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template class="container" #noClients>
  <h1>{{ "loadCustomers" | transloco }}</h1>
</ng-template>
