<div class="column is-11">
    <h2 class="m-4 fw-bold">Customer Details</h2>
</div>

<div class="row gap-4 mx-4 mb-4">
    <div class="col-12 col-lg-3 card shadow-none p-3" id="customer-card" *ngIf="this.customer != undefined; else noClients">
        <div class="text-center mt-3">
            <img src="{{ customerImageUrl }}" alt="Customer photo" class="rounded-circle w-25" (error)="onImageError($event)">
            <h5 class="fw-bold mt-3 text-primary-emphasis"> {{ customer.name }} {{ customer.surname}} </h5>
        </div>
        <hr>
        <div class="text-center">
            <a href="{{'mailto:' + customer.email}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="secondary" class="bi bi-envelope mr-4" viewBox="0 0 16 16">
                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
                </svg>
            </a>
            <button (click)="switchFavoriteCoach()">
                <svg *ngIf="!this.customer.coach_favorite" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="secondary" class="bi bi-bookmark" viewBox="0 0 16 16">
                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
                </svg>
                <svg *ngIf="this.customer.coach_favorite" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="secondary" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
                    <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2"/>
                </svg>
            </button>
        </div>
        <hr>
        <div class="row">
            <div class="text-center p-3 col">
                <h4 class="fw-bold text-primary-emphasis"> {{ encounters.length }} </h4>
                <p class="text-secondary">Total Encounters</p>
            </div>
            <div class="text-center p-3 col">
                <h4 class="fw-bold text-primary-emphasis"> {{ getNumberSuccessEncounters() }} </h4>
                <p class="text-secondary">Positives</p>
            </div>
            <div class="text-center p-3 col">
                <h4 class="fw-bold text-primary-emphasis"> {{ getNumberFailedEncounters() }} </h4>
                <p class="text-secondary">In Progress</p>
            </div>
        </div>
        <hr>
        <div class="p-3 text-secondary">
            <h6 class="text-uppercase font-monospace fw-semibold text-secondary">short details</h6>
            <p class="text-secondary mb-0">User ID:</p>
            <p class="text-primary-emphasis">{{ customer.id }}</p>
            <p class="text-secondary mb-0">Email:</p>
            <p class="text-primary-emphasis">{{ customer.email }}</p>
            <p class="text-secondary mb-0">Description:</p>
            <p class="text-primary-emphasis"> {{ customer.description }}</p>
            <p class="text-secondary mb-0">Coach:</p>
            <p *ngIf="coach != undefined" class="text-primary-emphasis">{{ coach.name }} {{coach.surname}}</p>
            <p *ngIf="coach == undefined" class="text-primary-emphasis">Coach id : {{ customer.coach_id }} </p>
        </div>
    </div>
    <div class="col card shadow-none p-5">
        <h5 class="fw-bold mb-3 text-primary-emphasis">Recent Meetings</h5>
        <div *ngIf="this._auth.isManager() && this.customer !== undefined"></div>
        <div *ngIf="this.customer !== undefined" class="card shadow-none p-4 pb-0">
            <table class="table is-fullwidth border-light-subtle">
                <thead>
                    <tr>
                        <th scope="col" class="text-secondary">{{ "dateTh" | transloco }}</th>
                        <th scope="col" class="text-secondary">{{ "ratingTh" | transloco }}</th>
                        <th scope="col" class="text-secondary">{{ "reportTh" | transloco }}</th>
                        <th scope="col" class="text-secondary">{{ "sourceTh" | transloco }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let encounter of this.encounters">
                        <td class="text-primary fw-bold">{{ encounter.date }}</td>
                        <td class="text-secondary">
                            <svg *ngFor="let _ of [].constructor(encounter.rating)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="secondary" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg>
                            <svg *ngFor="let _ of [].constructor(5 - encounter.rating)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="secondary" class="bi bi-star" viewBox="0 0 16 16">
                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
                            </svg>
                        </td>
                        <td class="text-secondary">{{ encounter.comment }}</td>
                        <td class="text-secondary text-capitalize">{{ encounter.source }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h5 class="fw-bold mb-3 mt-5 text-primary-emphasis">Payments history</h5>
        <div *ngIf="this._auth.isManager() && this.customer !== undefined" class="card shadow-none p-4 pb-0">
            <table class="table is-fullwidth border-light-subtle">
                <thead>
                    <tr>
                        <th scope="col" class="text-secondary">{{ "dateTh" | transloco }}</th>
                        <th scope="col" class="text-secondary">Payment method</th>
                        <th scope="col" class="text-secondary">{{ "amountTh" | transloco }}</th>
                        <th scope="col" class="text-secondary">{{ "commentTh" | transloco }}</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let payment of this.payments">
                        <td class="text-primary fw-bold">{{ payment.date }}</td>
                        <td class="text-secondary">
                            <img *ngIf="payment.payment_method == 'PayPal'" src="assets/paypal-card.jpg" class="image-card-payment">
                            <img *ngIf="payment.payment_method == 'Credit Card'" src="assets/cb-card.jpg" class="image-card-payment">
                            <img *ngIf="payment.payment_method == 'Bank Transfer'" src="assets/wire-transfer.jpg" class="image-card-payment">
                            <span *ngIf="payment.payment_method != 'PayPal' && payment.payment_method != 'Credit Card' && payment.payment_method != 'Bank Transfer'">{{ payment.payment_method }}</span>
                        </td>
                        <td class="fw-bold text-primary-emphasis">{{ payment.amount }} $</td>
                        <td class="text-secondary">{{ payment.comment }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>


<ng-template class="container" #noClients>
  <h1 class="text-primary-emphasis">{{ "loadCustomers" | transloco }}</h1>
</ng-template>
