.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.card-image {
  padding: 20px;

  .image {
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
  }
}

.is-200x200 {
  width: 200px;
  height: 200px;
}

table {
    border-radius: 10px;
    overflow: hidden;
}

.image-card-payment {
  width: auto;
  height: 30px;
}