.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.card-image {
    padding: 20px;

    .image {
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: 20px;
    }
  }
