<section>
    <div class="column is-11">
        <p class="big-title is-uppercase has-text-weight-bold has-text-centered mt-3 has-text-black">SOUL CONNECTION</p>
        <p class="title is-uppercase has-text-centered">dashboard</p>
        <hr>
    </div>
    <div *ngIf="this._auth.isManager()" class="columns is-multiline">
        <div class="column is-3">
            <div #containerRef1 class="card is-flex is-justify-content-center">
                <ngx-charts-number-card
                    *ngIf="this.paymentAccount[0] !== undefined"
                    [view]="[containerRef1.offsetWidth, 300]"
                    [cardColor]="'#fff4de'"
                    [scheme]="'flame'"
                    [results]="[
                        { name: 'Total sales (€)', value: this.paymentAccount[0] }
                    ]">
                </ngx-charts-number-card>
            </div>
        </div>
        <div class="column is-5">
            <div #containerRef2 class="card is-flex is-justify-content-center">
                <ngx-charts-bar-vertical
                    *ngIf="this.nbCustomers[0] !== undefined"
                    [view]="[containerRef2.offsetWidth, 300]"
                    [scheme]="'flame'"
                    [xAxis]="true"
                    [yAxis]="true"
                    [results]="[
                        { name: 'Customers', value: this.nbCustomers[0].length },
                        { name: 'Male', value: this.genders[0]},
                        { name: 'Female', value: this.genders[1] },
                        { name: 'Other', value: this.genders[2] },
                    ]">
                </ngx-charts-bar-vertical>
            </div>
        </div>
        <div class="column is-3">
            <div #containerRef3 class="card is-flex is-justify-content-center">
                <ngx-charts-number-card
                    *ngIf="this.nbEmployees[0] !== undefined && this.nbEncounters[0] !== undefined"
                    [view]="[containerRef3.offsetWidth, 300]"
                    [scheme]="'flame'"
                    [cardColor]="'#fff4de'"
                    [results]="[
                    { name: 'Coachs', value: this.nbEmployees[0].length },
                    { name: 'Meetings', value: this.nbEncounters[0].length},
                ]">
                </ngx-charts-number-card>
            </div>
        </div>
    </div>


    <div *ngIf="!this._auth.isManager()" class="columns is-multiline">
        <div class="column is-3">
            <div #containerRef1 class="card is-flex is-justify-content-center">
                <ngx-charts-number-card
                    [view]="[containerRef1.offsetWidth, 300]"
                    [cardColor]="'#fff4de'"
                    [scheme]="'flame'"
                    [results]="[
                        { name: 'Customers', value: 2 },
                        { name: 'Meetings', value: 800 },
                    ]">
                </ngx-charts-number-card>
            </div>
        </div>
        <div class="column is-8">
            <div #containerRef2 class="card is-flex is-justify-content-center">
                <ngx-charts-pie-grid
                    [view]="[containerRef2.offsetWidth, 300]"
                    [scheme]="'flame'"
                    [results]="[
                    { name: 'Male', value: 50 },
                    { name: 'Female', value: 50 },
                    { name: 'Other', value: 0 },
                ]">
                </ngx-charts-pie-grid>
            </div>
        </div>
    </div>


    <!-- <div class="container is-flex is-justify-content-center mt-6">
        <div class="table-container">
        <h3>Titre du tableau</h3>
        <table class="table is-bordered is-striped">
            <thead>
            <tr>
                <th>Column 1</th>
                <th>Column 2</th>
                <th>Column 3</th>
                <th>Column 4</th>
                <th>Column 5</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Row 1, Col 1</td>
                <td>Row 1, Col 2</td>
                <td>Row 1, Col 3</td>
                <td>Row 1, Col 4</td>
                <td>Row 1, Col 5</td>
            </tr>
            <tr>
                <td>Row 2, Col 1</td>
                <td>Row 2, Col 2</td>
                <td>Row 2, Col 3</td>
                <td>Row 2, Col 4</td>
                <td>Row 2, Col 5</td>
            </tr>
            <tr>
                <td>Row 3, Col 1</td>
                <td>Row 3, Col 2</td>
                <td>Row 3, Col 3</td>
                <td>Row 3, Col 4</td>
                <td>Row 3, Col 5</td>
            </tr>
            <tr>
                <td>Row 4, Col 1</td>
                <td>Row 4, Col 2</td>
                <td>Row 4, Col 3</td>
                <td>Row 4, Col 4</td>
                <td>Row 4, Col 5</td>
            </tr>
            <tr>
                <td>Row 5, Col 1</td>
                <td>Row 5, Col 2</td>
                <td>Row 5, Col 3</td>
                <td>Row 5, Col 4</td>
                <td>Row 5, Col 5</td>
            </tr>
            <tr>
                <td>Row 6, Col 1</td>
                <td>Row 6, Col 2</td>
                <td>Row 6, Col 3</td>
                <td>Row 6, Col 4</td>
                <td>Row 6, Col 5</td>
            </tr>
            </tbody>
        </table>
        </div>
    </div> -->
</section>
