<div class="d-flex justify-content-between align-items-center m-4">
    <div>
        <h2 class="fw-bold">Dashboard</h2>
        <h6>Welcome!</h6>
    </div>

    <div>
        <button class="btn btn-light btn-outline-secondary m-4" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi bi-calendar-week"></i> {{ this.timeRangeValues[this.timeRangeIdx] }}
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="changeTimeRange(0)"> {{ this.timeRangeValues[0] }}</a></li>
            <li><a class="dropdown-item" (click)="changeTimeRange(1)"> {{ this.timeRangeValues[1] }}</a></li>
            <li><a class="dropdown-item" (click)="changeTimeRange(2)"> {{ this.timeRangeValues[2] }}</a></li>
        </ul>
        <button class="btn btn-primary">
            <i class="bi bi-journal-bookmark"></i> Reports
        </button>
    </div>
</div>

<div class="row g-4 text-center m-4">
    <div class="col-sm-6 col-md-7">
        <div class="card">
            <div class="d-flex justify-content-between align-items-center m-4">
                <div>
                    <h5 class="fw-bold">Customers Overview</h5>
                    <h6>When customers have joined in the time.</h6>
                </div>

                <div>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-light btn-outline-secondary"
                            (click)="changeTimeRangeCustomer(0)">7 D</button>
                        <button type="button" class="btn btn-light btn-outline-secondary"
                            (click)="changeTimeRangeCustomer(1)">1 M</button>
                        <button type="button" class="btn btn-light btn-outline-secondary"
                            (click)="changeTimeRangeCustomer(2)">3 M</button>
                    </div>
                </div>
            </div>
            <div class="row g-4 text-center m-4">
                <div class="col-sm-6 col-md-2">
                    <h6 class="fw-bold">Customers</h6>
                    <h4>{{ this.customerStats?.totalCustomers }}</h4>
                </div>
                <div class="col-sm-6 col-md-2">
                    <h6 class="fw-bold">Doing meetings</h6>
                    <h4>{{ this.customerStats?.percentageWithEncounter }}%</h4>
                </div>
                <div class="col-sm-6 col-md-3">
                    <h6 class="fw-bold">Customers by coach</h6>
                    <h4>{{ this.customerStats?.averageCustomersPerCoach }}</h4>
                </div>
            </div>
            <div #containerRef1 class="is-flex is-justify-content-center">
                <ngx-charts-bar-horizontal
                *ngIf="this.customerStats !== undefined &&
                        this.customerStats.averageCustomersPerCoach !== null &&
                        this.customerStats.percentageWithEncounter !== null &&
                        this.customerStats.totalCustomers !== null"
                    [view]="[containerRef1.offsetWidth, 300]"
                    [scheme]="'aqua'" [results]="[
                    { name: 'customers', value: this.customerStats.totalCustomers || 0 },
                    { name: 'Doing meetings', value: this.customerStats.percentageWithEncounter || 0},
                    { name: 'Customers by coach', value: this.customerStats.averageCustomersPerCoach || 0}
                ]">
                </ngx-charts-bar-horizontal>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-5">
        <div class="card">
            <div class="d-flex justify-content-between align-items-center m-4">
                <div>
                    <h5 class="fw-bold">Events</h5>
                    <h6>Our events and their status.</h6>
                </div>
            </div>
            <div class="row g-4 text-center m-4">
                <div class="col-sm-6 col-md-2">
                    <h6>Monthly</h6>
                    <h4>{{ this.eventStats?.totalEventsLastMonth }}</h4>
                </div>
                <div class="col-sm-6 col-md-2">
                    <h6>Weekly</h6>
                    <h4>{{ this.eventStats?.totalEventsLastWeek }}</h4>
                </div>
                <div class="col-sm-6 col-md-2">
                    <h6>Daily (Avg)</h6>
                    <h4>{{ this.eventStats?.averageEventsPerDay }}</h4>
                </div>
            </div>
            <div #containerRef2 class="is-flex is-justify-content-center">
                <ngx-charts-bar-vertical
                [view]="[containerRef2.offsetWidth, 300]"
                [scheme]="'aqua'"
                [results]="this.EncounterPieChart">
                </ngx-charts-bar-vertical>
            </div>
        </div>
    </div>
</div>


<div class="row g-4 text-center m-4">
    <div class="col-sm-6 col-md-7">
        <div class="card">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="fw-bold">Customers by Country</h5>
                </div>
                <div>
                    <button type="button" class="btn btn-light btn-outline-secondary">30 Days</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-5">
        <div class="card">
            <div class="d-flex justify-content-between align-items-center m-4">
                <div>
                    <h5 class="fw-bold">Meeting top sources</h5>
                </div>

                <div>
                    <button type="button" class="btn btn-light btn-outline-secondary">30 Days</button>
                </div>
            </div>
            <div #containerRef3 class="is-flex is-justify-content-center m-4">
                <ngx-charts-advanced-pie-chart
                    *ngIf="EncounterPieChart.length > 0"
                    [view]="[containerRef3.offsetWidth, 300]"
                    [scheme]="'aqua'"
                    [results]="this.EncounterPieChart">
                </ngx-charts-advanced-pie-chart>
            </div>
        </div>
    </div>
</div>
