<section>
    <div class="container">
        <h1 class="big-title is-uppercase has-text-weight-bold has-text-centered mt-3 has-text-black">SOUL CONNECTION</h1>
        <h1 class="title is-uppercase has-text-centered">dashboard</h1>
    </div>
    <div class="container columns">
        <stack-chart class="column"></stack-chart>
        <stack-chart class="column"></stack-chart>
        <stack-chart class="column"></stack-chart>
    </div>
    <div class="container is-flex is-justify-content-center mt-6">
        <div class="table-container">
            <h3>Titre du tableau</h3>
            <table class="table is-bordered is-striped">
            <thead>
                <tr>
                <th>Column 1</th>
                <th>Column 2</th>
                <th>Column 3</th>
                <th>Column 4</th>
                <th>Column 5</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>Row 1, Col 1</td>
                <td>Row 1, Col 2</td>
                <td>Row 1, Col 3</td>
                <td>Row 1, Col 4</td>
                <td>Row 1, Col 5</td>
                </tr>
                <tr>
                <td>Row 2, Col 1</td>
                <td>Row 2, Col 2</td>
                <td>Row 2, Col 3</td>
                <td>Row 2, Col 4</td>
                <td>Row 2, Col 5</td>
                </tr>
                <tr>
                <td>Row 3, Col 1</td>
                <td>Row 3, Col 2</td>
                <td>Row 3, Col 3</td>
                <td>Row 3, Col 4</td>
                <td>Row 3, Col 5</td>
                </tr>
                <tr>
                <td>Row 4, Col 1</td>
                <td>Row 4, Col 2</td>
                <td>Row 4, Col 3</td>
                <td>Row 4, Col 4</td>
                <td>Row 4, Col 5</td>
                </tr>
                <tr>
                <td>Row 5, Col 1</td>
                <td>Row 5, Col 2</td>
                <td>Row 5, Col 3</td>
                <td>Row 5, Col 4</td>
                <td>Row 5, Col 5</td>
                </tr>
                <tr>
                <td>Row 6, Col 1</td>
                <td>Row 6, Col 2</td>
                <td>Row 6, Col 3</td>
                <td>Row 6, Col 4</td>
                <td>Row 6, Col 5</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</section>
