<div class="columns is-multiline">
    <div class="column">
        <button class="button m-5 is-1 is-danger" (click)="toggleTheme('light')">Light</button>
    </div>
    <div class="column">
        <button class="button m-5 is-1 is-danger" (click)="toggleTheme('dark')">Dark</button>
    </div>
    <div class="column">
        <button class="button m-5 is-1 is-danger" (click)="toggleTheme('forest')">Forest</button>
    </div>
    <div class="column">
        <button class="button m-5 is-1 is-danger" (click)="toggleTheme('gray')">Gray</button>
    </div>
    <div class="column">
        <button class="button m-5 is-1 is-danger" (click)="toggleTheme('flame')">Flame</button>
    </div>
    <div class="column">
        <button class="button m-5 is-1 is-danger" (click)="toggleTheme('cold')">Cold</button>
    </div>
</div>
