<aside class="menu is-fullheight" *ngIf="this.width > 1023  || this.displayNav">
  <ul class="menu-list">
    <li><a *ngIf="this.displayNav && this.width <= 1023" class="button is-active" (click)="this.toggleNav()">X</a></li>
    <li><a class="underline" routerLink="/home">{{ "navHome" | transloco }}</a></li>
    <li *ngIf="this._auth.isManager()"><a class="underline" routerLink="/coaches">{{ "navCoaches" | transloco }}</a></li>
    <li><a class="underline" routerLink="/client-profile">{{ "navCustomers" | transloco }}</a></li>
    <li><a class="underline" routerLink="/statistics">{{ "navStatistics" | transloco }}</a></li>
    <li><a class="underline" routerLink="/tips">{{ "navTips" | transloco }}</a></li>
    <li><a class="underline" routerLink="/events">{{ "navEvents" | transloco }}</a></li>
    <li><a class="underline" routerLink="/wardrobe">{{ "navWardrobe" | transloco }}</a></li>
    <li><a class="underline" routerLink="/astrological-compatibility">{{ "navAstro" | transloco }}</a></li>
    <li><a class="underline">
      <select [ngModel]="langValue" (ngModelChange)="langChangeSelect($event)">
        <option value="en">English</option>
        <option value="fr">Français</option>
        <option value="zh">中文</option>
        <option value="es">Español</option>
      </select>
    </a></li>
    <li><i><a class="underline" style="color:black" (click)="this._auth.logout()">{{ "navLogout" | transloco }}</a></i></li>
  </ul>
</aside>

<div *ngIf="this.width <= 1023" class="nav-dropdown-button">
  <button class="button is-warning close-nav" *ngIf="!this.displayNav" (click)="this.toggleNav()">\/</button>
</div>
