<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">

      <a class="navbar-brand" routerLink="/home">Soul Connection</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">{{ "navHome" | transloco }}</a>
          </li>

          <li *ngIf="this._auth.isManager()" class="nav-item">
            <a class="nav-link" routerLink="/coaches" routerLinkActive="active">{{ "navCoaches" | transloco }}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/customers-list" routerLinkActive="active">{{ "navCustomers" | transloco }}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/statistics" routerLinkActive="active">{{ "navStatistics" | transloco }}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/tips" routerLinkActive="active">{{ "navTips" | transloco }}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/events" routerLinkActive="active">{{ "navEvents" | transloco }}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/wardrobe" routerLinkActive="active">{{ "navWardrobe" | transloco }}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/astrological-compatibility" routerLinkActive="active">{{ "navAstro" | transloco }}</a>
        </li>

        </ul>

        <div class="d-flex align-items-center">

            <a class="me-3">
              <i class="bi bi-chat-dots fs-4"></i>
            </a>

            <a class="me-3">
                <img *ngIf="this.lang[this.idx] === 'en'" src="https://upload.wikimedia.org/wikipedia/en/a/a4/Flag_of_the_United_States.svg" alt="US Flag" width="24" (click)="changeLanguage()">
                <img *ngIf="this.lang[this.idx] === 'fr'" src="https://upload.wikimedia.org/wikipedia/en/c/c3/Flag_of_France.svg" alt="FR Flag" width="24" (click)="changeLanguage()">
                <img *ngIf="this.lang[this.idx] === 'zh'" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/640px-Flag_of_the_People%27s_Republic_of_China.svg.png" alt="CH Flag" width="24" (click)="changeLanguage()">
                <img *ngIf="this.lang[this.idx] === 'es'" src="https://upload.wikimedia.org/wikipedia/en/9/9a/Flag_of_Spain.svg" alt="ES Flag" width="24" (click)="changeLanguage()">
            </a>
            <a class="me-3" *ngIf="this._auth.isManager()">
              <i class="bi bi-book-fill fs-4" [ngStyle]="{'color': this._theme.getIconColor()}" (click)="this._theme.toggleTheme()" ></i>
            </a>
            <a class="me-3">
                <i class="bi bi-person-circle fs-4"></i>
            </a>
            <a class="me-3">
                <i class="bi bi-box-arrow-left" (click)="this._auth.logout()"></i>
            </a>
          </div>

      </div>
    </div>
  </nav>
